<!-- <div class="w-3/4 mx-auto">
    <div class="grid grid-cols-2 gap-4 bg-white-500 border p-8">
        <div>
            <label class="form-label" for="">NOMBRE POKEMON: </label>
            <input class="form-control" type="text" [(ngModel)]="obtenerInfo.name">
        </div>
        <div>
            <label class="form-label" for="">ID: </label>
            <input class="form-control" type="text" [(ngModel)]="obtenerInfo.id">
        </div>
        <div>
            <label class="form-label" for="">EXPERIENCIA: </label>
            <input class="form-control" type="text" [(ngModel)]="obtenerInfo.experiencia">
        </div>
    </div>
</div> -->